In [38]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import OrdinalEncoder
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

# Load Data

In [28]:
dataset = pd.read_csv("car_price_prediction.csv")
dataset.head(2)

,ID,Price,Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags
0,45654403,13328,1399,LEXUS,RX 450,2010,Jeep,Yes,Hybrid,3.5,186005 km,6.0,Automatic,4x4,04-May,Left wheel,Silver,12
1,44731507,16621,1018,CHEVROLET,Equinox,2011,Jeep,No,Petrol,3,192000 km,6.0,Tiptronic,4x4,04-May,Left wheel,Black,8

# EDA

# Preprocessing

In [31]:
df = dataset.copy()
df["Leather interior"] = df["Leather interior"].map({"Yes": True, "No": False})
df["Age"] = 2022 - df["Prod. year"]

In [34]:
encoder = OrdinalEncoder()
df["Cylinders"] = encoder.fit_transform(df[["Cylinders"]])

In [35]:
make_ohe = pd.get_dummies(dataset["Manufacturer"], prefix="make")
model_ohe = pd.get_dummies(dataset["Model"], prefix="model")
category_ohe = pd.get_dummies(dataset["Category"], prefix="category")
fuel_ohe = pd.get_dummies(dataset["Fuel type"], prefix="fuel") 
gear_ohe = pd.get_dummies(dataset["Gear box type"], prefix="gear_box")
drive_ohe = pd.get_dummies(dataset["Drive wheels"], prefix="drive_wheels")
door_ohe = pd.get_dummies(dataset["Doors"], prefix="doors")
wheel_ohe = pd.get_dummies(dataset["Wheel"], prefix="wheel")
color_ohe = pd.get_dummies(dataset["Color"], prefix="color")

In [39]:
X = pd.concat(
    [df[["Leather interior", "Age", "Cylinders"]], make_ohe, model_ohe, category_ohe,
    fuel_ohe, gear_ohe, drive_ohe, door_ohe, wheel_ohe, color_ohe], 
    axis = 1
)
y = df[["Price"]]

# Linear Regression

In [44]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

In [45]:
linreg = LinearRegression().fit(X_train, y_train)

In [52]:
pred_train = linreg.predict(X_train)
pred_test = linreg.predict(X_test)

In [46]:
linreg.score(X_train, y_train)

0.04344696501120204

In [51]:
linreg.score(X_test, y_test)

-4.235859090805766e+20

In [56]:
pred_test[:30]

array([[  5808.],
       [ 33112.],
       [ 25824.],
       [ 16880.],
       [-20696.],
       [ -6480.],
       [ 16120.],
       [ 22400.],
       [ 12048.],
       [ 29112.],
       [  9736.],
       [ 10760.],
       [ 36744.],
       [ 14808.],
       [  5944.],
       [ 39552.],
       [ 10176.],
       [ 11016.],
       [ 22632.],
       [  -176.],
       [-14720.],
       [ 38096.],
       [ 16920.],
       [ 62232.],
       [ 12192.],
       [  2680.],
       [ 24344.],
       [  7144.],
       [  9632.],
       [  -184.]])